.Container {
  padding-bottom: 15px;
}

.Gap {
  margin-right: 15px;
  // padding-top: 15px;
}

.Input {
  width: 150px;
  // margin-top: 15px;
}

.ColRight {
  text-align: right;
}

.SearchGap {
  margin-left: 15px;
}
